body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #010203;
  --yellow: #ffffcc;
  --gary: #d2d1d1;
}

/* search bar */

.searchBar .type button {
  border: 1px solid var(--gary);
  border-bottom: none;
}

.searchBar .type .active {
  background-color: var(--black);
  color: var(--white);
}
